<div class="container">

  <div class="row">
  <div class="card bg-body-tertiary">
    <h1 class="text-uppercase">Dashboard</h1>
    <hr class="text-bg-info"/>
  <mat-card  appearance="outlined">

<div class="row" style="padding: 50px;">
    <div class="col-md-4">
      <mat-card  appearance="outlined" class="bg-body-tertiary">
      <mat-card-header class="bg-primary">
        <mat-card-title> Employee Management</mat-card-title>
        <mat-card-subtitle>Handle the Employee Details & Information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div class="container text-center">
          <div class="row ">
            <button mat-button class="btn btn-primary "> Go</button>

        </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

    <div class="col-md-4">
    <mat-card appearance="outlined">
      <mat-card-header class="bg-info" style="padding: 54px;">
        <mat-card-title>Leave Request Form</mat-card-title>
        <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>Learn More</button>
      </mat-card-actions>
    </mat-card>
    </div>

    <div class="col-md-4 ">
      <mat-card  >
        <mat-card-header class="bg-success">
          <mat-card-title>Project Management</mat-card-title>
          <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>Learn More</button>
        </mat-card-actions>
      </mat-card>
      </div>



  </div>
  <app-today-check-in-and-checkout></app-today-check-in-and-checkout>

</mat-card>

  </div>
</div>
</div>
